<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Druckverlustberechnung</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand font-weight-bold" href="#">FLUID</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Druckverlust</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dichte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Zeta-Werte</a>
              </li>
          </ul>
        </div>
      </nav>

      <div class="p-2" id="setup">
        <form action="">
            <div class="container py-2">
                <div class="h3 border-bottom pb-1">Eingabewerte</div>
                <div class="row pt-3">
                    <div class="col-lg-6">
                        <div class="input-group mb-3 px-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="flowrate">Volumenstrom</span>
                            </div>
                            <input v-model="flow_rate" class="form-control" id="flowrate" type="text">
                            <select v-model="flow_rate_unit" class="custom-select" id="inputGroupSelect01">
                                <option selected>Einheit</option>
                                <option value="m3/s">m3/s</option>
                                <option value="m3/h">m3/h</option>
                                <option value="L/min">L/min</option>
                                <option value="L/s">L/s</option>
                            </select>
                        </div>
        
                        <div class="input-group mb-3 px-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Höhendifferenz</span>
                            </div>
                            <input v-model="height_difference" class="form-control" type="text">
                            <select v-model="height_difference_unit" class="custom-select" id="inputGroupSelect01">
                                <option selected>Einheit</option>
                                <option value="m">m</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="input-group mb-3 px-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dichte Fluid</span>
                            </div>
                            <input v-model="density_fluid" class="form-control" type="text">
                            <select v-model="density_fluid_unit" class="custom-select" id="inputGroupSelect01">
                                <option selected>Einheit</option>
                                <option value="kg/m3">kg/m3</option>
                            </select>
                        </div>
        
                        <div class="input-group mb-3 px-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dichte Atmosphäre</span>
                            </div>
                            <input v-model="density_atm" class="form-control" type="text">
                            <select v-model="density_atm_unit" class="custom-select" id="inputGroupSelect01">
                                <option selected>Einheit</option>
                                <option value="kg/m3">kg/m3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="h3 border-bottom mb-2 pb-2">Rohrleitungssystem
                    <button type="button" class="btn btn-primary" @click="addNewPipeForm">+ Rohrleitung</button>
                    <button type="button" class="btn btn-success" @click="addNewFittingForm">+ Einbauten</button>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-6">
                        <div class="" v-for="(pipe, index) in pipes">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">Rohrleitung {{ index + 1 }}
                                    <div class="btn btn-outline-danger btn-sm" @click="deletePipeForm(index)">&times</div>
                                    </h5>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Länge</span>
                                        </div>
                                        <input type="text" v-model="pipe.pipe_length" class="form-control" placeholder="Rohrleitungslänge" aria-describedby="basic-addon1">
                                        <select v-model="pipe.pipe_length_unit" class="custom-select" id="inputGroupSelect01">
                                            <option disabled selected>Einheit</option>
                                            <option value="m">m</option>
                                            <option value="mm">mm</option>
                                            <option value="cm">cm</option>
                                            <option value="inch">inch</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Durchmesser</span>
                                        </div>
                                        <input type="number" v-model="pipe.diameter" class="form-control" placeholder="Durchmesser" aria-describedby="basic-addon1">
                                        <select class="custom-select" v-model="pipe.diameter_unit" id="inputGroupSelect01">
                                            <option disabled selected>Einheit</option>
                                            <option value="m">m</option>
                                            <option value="mm">mm</option>
                                            <option value="cm">cm</option>
                                            <option value="inch">inch</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rohrrauigkeit</span>
                                        </div>
                                        <input type="text" v-model="pipe.roughness" class="form-control" placeholder="Rohrrauigkeit" aria-describedby="basic-addon1">
                                        <select v-model="pipe.roughness_unit"class="custom-select" id="inputGroupSelect01">
                                            <option disabled selected>Einheit</option>
                                            <option value="mm">mm</option>
                                            <option value="µm">µm</option>
                                        </select>
                                    </div>

                                    <div class="h5">Results:</div>
                                    <div>v = {{ calculateVelocity (pipe) }} m/s</div>
                                    <div>Re = xyz -</div>
                                    <div>∆p = xyz Pa</div>
                                    <div>lambda = </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="h4">Rohrleitungen</div>
                    </div>

                    <div class="col-lg-6">
                        <div class="h4 ">Einbauten</div>
                        <div class="" v-for="(fitting, index) in fittings">
                            <div class="card-body" >
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Einbau {{ index + 1 }}</span>
                                    </div>
                                    <input v-bind:name="'pipe_' + index + '_name'" required type="text" class="form-control" placeholder="Name"
                                    v-model="fitting.name">
                                    <input v-bind:name="'pipe_' + index + '_low'" required type="text" class="form-control" placeholder="Zeta-Wert" 
                                        v-model="fitting.zeta">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-danger" type="button" @click="deleteFittingForm(index)">
                                            &times
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-danger" v-on:click="printPipes()">
                    Druckverlust berechnen
                </button>

                <p><pre>data: {{$data }}</pre></p>
            </div>
        </form>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>